<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <property name="logDir" value="${user.home}/tmp/log" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.out</target>
    <!--
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>%-5level %d{ISO8601} %9r [%thread] %logger{0} - %msg%n</pattern>
    </layout>
    -->
    <!-- 
    %d{ISO8601}         yyyy-MM-dd HH:mm:ss,SS
    %d{HH:mm:ss,SSS}
     -->
    <encoder>
      <pattern>%-5level %d{"HH:mm:ss,SSS"} %9r [%thread]%mdc{operationNo}%mdc{reqNo} %logger{1} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${logDir}/app.log</file>
    <append>true</append>
    <encoder>
      <pattern>%-5level %d{ISO8601} %9r [%thread]%mdc{operationNo}%mdc{reqNo} %logger{1} - %msg%n</pattern>
      <charset>UTF-8</charset>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${logDir}/app-%d{yyyyMMdd}.log</fileNamePattern>
      <maxHistory>7</maxHistory>
    </rollingPolicy>
  </appender>

  <logger name="tool.slack" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </logger>

  <root>
    <level value="INFO" />
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>

</configuration>
